* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  background: #fff;
}

.app-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background: #fff;
}

.main-content {
  flex: 1;
  margin-left: 120px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #fff;
  position: relative;
}

.container {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 28px;
  padding-bottom: 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
